*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.heder{
    margin: auto;
    max-width: 1140px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    .heder_left{
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        .logo{
            width:42px;
            height: 64px;
        }
        .nav{
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
        }
    }
    .list{
        list-style: none;
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .heder_right{
        display: flex;
        align-content: center;
        justify-content: space-between;
        align-items: center;
        .location_img{
            width: 55px;
            height: 55px;
        }
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
    }
}
.about{
    margin: auto;
    max-width: 1342px;
    height: 580px;
    background-image: url(../img/6.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    .about_container{
        max-width: 1140px;
        height: 580px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        color: #000000;
        text-shadow: 1px 1px #1c1b1b;
        font-size: 25px;
        line-height: 29px;
        font-weight: 500;          
        .about_container_left{
            width: 50%;
            align-self: flex-start;
            backdrop-filter: blur(2px);
            border: solid 0;
            border-radius: 30px;    
        }
        .about_container_right{
            align-self: end;
            text-align: center;
            width: 50%;
            backdrop-filter: blur(2px);
            border: solid 0;
            border-radius: 30px; 
        }
    }
}
.services{
    margin: auto;
    max-width: 1140px;
    text-align: center;
    background-image: url(../img/logo.jpg) ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-size: 25px;
    .services_bloc{
        display: flex;
        text-align: start;
        justify-content: space-around;
        .services_left{
            font-size: 18px;
            line-height: 35px;
            font-weight: 500;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            img{
                max-width: 400px;
            }
        }
        .services_right{
            font-size: 18px;
            line-height: 35px;
            font-weight: 500;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            img{
                max-width: 400px;
            }
        }
        .list{
            list-style:url(../img/logomini2.png);
        }
    }
}
.trust{
    margin: auto;
    max-width: 1140px;
    font-size: 25px;
    text-align: center;
    .trust_logo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .trust_img{
            max-width: 330px;
        }
    }
}
.contacts{
    margin: auto;
    max-width: 1140px;
    font-size: 25px;
    text-align: center;
    .iago{
        display: flex;
        justify-content: space-between;
        .adres{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
            line-height: 30px;
            .adres_flex{
                display: flex;
                align-items: center;
                gap: 50px;
                .adres_icon{
                    width: 55px;
                    height: 55px;
                }
            }
        }
        .map{
            width: 50%;
        }
    }
    .iago_schedule{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        .schedule_img{
            max-width: 555px;
        }
        .schedule{
            .schedule_list{
                text-align: start;
                list-style-image:url(../img/logomini2.png);
            }
        }
    }
}
.footer{
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
@media(max-width: 1200px){
    .heder_left{
        h1{
            display: none;
        }
    }    
}
@media (max-width: 960px){
    .heder{
        .list{
            padding: 0;
            gap: 5px;
        }
    }
    .services{
        .services_bloc{
            .services_left img{
                max-width: 315px;
            }
            .services_right img{
                max-width: 315px;
            }
        }
    }
    .iago_schedule{
        flex-direction: column;
    }
}
@media (max-width: 768px){
    .heder{
        .list{
            img{
                display: none;
            }
        }
    }
    .iago{
        flex-direction: column;
        align-items: center;
    }
}
@media  (max-width:660px){
    .heder_right{
        .heder_adres{
            display: none;
        }
            
    }
    .about{
        .about_container{
            display: block;
            .about_container_left{
                width: 100%;
            }
            .about_container_right{
                width: 100%;
            }
        }
    }
    .services{
        .services_bloc{
            flex-direction: column;
            align-items: center;
            .services_left{
                width: 100%;
                
            }
            .services_right{
                width: 100%;
                
            }
        }
    }
    .contacts{
        .iago_schedule{
            .schedule_img{
                max-width: 320px;
            }
        }
    }
}
@media  (max-width:576px){
    .heder{
        .heder_left{
            .logo{
                width: 21px;;
            height: 32px;
            }
            .nav{
                .list{
                    font-size: 14px;
                }
            }
        }
    }
}